body {
  padding-top: 60px;
}

section#components {
    padding-top: 0px;
}

.sidebar-nav {
  padding: 9px 0;
}

.headerDoc {
  color: #005580;
}

span.note {
  font-size: 14px;
}

.source-area {
  width: 100%;
  height: 200px;
  background: #D9D9D9;
}

#css-download, #javascript-download {
  display: none;
}

@media (max-width: 978px) {
  .select2 {
    padding-left: 0px;
    float:left;
    width: 100%;
  }
  #fork-me {
    display: none;
  }
}

@media (max-width: 767px) {
   .tocify {
       padding-bottom: 20px;
   }
}

@media (max-width: 767px) {
    #toc {
        position: relative;
        width: 100%;
        margin: 0px 0px 20px 0px;
    }
}

@media (max-width: 480px) {
   .hero-unit h1 {
       font-size: 30px;
   }
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}

.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}

.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}


h1 {
  font-family: "Francois One", sans-serif;
  font-size: 30px;
}

h2 { font-family: 'Open Sans', serif; font-weight: 400; }
h3 { font-family: 'Open Sans', serif; font-weight: 300; font-size: 18px;}

p, li { font-family: 'Open Sans', serif; font-weight: 300; font-size: 14px;}

.provider-list:after {
  content: "";
  display: table;
  clear: both;
}

.provider-list li {
  width: 25%;
  float: left;
  text-align: center;
  list-style-type: none;
}

/* AnnotateIt */
a.bookmarklet {
  padding: 0.3em 0.5em;
  border: none;
  background: #b2b2b2;
  color: #141414;
  text-shadow: 0px 1px 0px #e6e6e6;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

pre.prettyprint {
  padding: 0 10px 0 10px;
}